.container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7); /* با تغییر شفافیت */
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px); /* اضافه کردن افکت بلور */
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        .my_img {
            backdrop-filter: blur(10px); /* اضافه کردن افکت بلور */
        }
        form {
            background-color: rgba(255, 255, 255, 0.9); /* با تغییر شفافیت */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4a90e2;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button[type="submit"]:hover {
            background-color: #357dc3;
        }