{% extends 'home.html' %}
{% load static %}

{% block title %}Cms Login{% endblock %}

{% block content %}


<div class="bg-center bg-no-repeat bg-cover my_img" style="background-image: url({% static 'img/background/jungle.jpg' %});">
    <div class="flex justify-center items-center h-screen">
        <div class="container">
            <h1 class="text-2xl font-bold mb-8">Welcome to the {{ cms_name }} CMS!</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="mt-4">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
