
{% extends 'newbase.html' %}
{% block content %}

  <header class="header">
    <h1>List of Projects</h1>
    <a href="{% url 'create_project_view' %}" class="create-btn">Create New</a>
  </header>
  <section class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
      {% for project in projects %}
                <tr>
                    <td >{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.start_date|date }}</td>
                    <td>{{ project.end_date|date }}</td>
                    <td>
                        <a href="{% url 'project_detail_view' project.id %}" class="neumorphic-btn details">Details</a>
                        <a href="{% url 'sprint_list_view' project.id %}" class="neumorphic-btn sprints">Sprints</a>
                        <a href="{% url 'delete_project_view' project.id%}" class="neumorphic-btn delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </section>

{% endblock %}

